<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1400</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>copyright</key>
    <string>Copyright 2026 The Metropolitan Line Project authors (https://github.com/cyrealtype/metropolitan-line)</string>
    <key>descender</key>
    <integer>-450</integer>
    <key>familyName</key>
    <string>Metropolitan Line Delta</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2026/07/08 12:27:20</string>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Cyreal, Alexei Vanyashin, Michael Voronin</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://cyreal.org</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Cyreal</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://cyreal.org</string>
    <key>openTypeNameSampleText</key>
    <string>Hond</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>CYRE</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1880</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>500</integer>
    <key>postscriptFontName</key>
    <string>MetropolitanLineDelta-Regular</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>XTSP5</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>3</integer>
    <key>xHeight</key>
    <integer>950</integer>
  </dict>
</plist>
