attrs==26.1.0
booleanOperations==0.10.0
cffsubr==0.4.0
compreffor==0.6.0
fontmake==3.12.1
fontMath==0.10.0
fonttools==4.63.0
glyphsLib==6.13.1
lxml==6.1.1
openstep_plist==0.5.2
pyclipper==1.4.0
ufo2ft==3.9.0
ufoLib2==0.18.1
unicodedata2==17.0.1
