<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>8 Oct 26 at 16:14</string>
      <string>glyphs.8 O_ct 26 at 1614</string>
    </array>
    <array>
      <string>8 Oct 26 at 16:14.background</string>
      <string>glyphs.8 O_ct 26 at 1614.background</string>
    </array>
  </array>
</plist>
