<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>4004</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Proportional spacing</string>
        <key>tag</key>
        <string>XTSP</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Thick Stroke</string>
        <key>tag</key>
        <string>XOPQ</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Thin Stroke</string>
        <key>tag</key>
        <string>YOPQ</string>
      </dict>
      <dict>
        <key>name</key>
        <string>X stem uppercase</string>
        <key>tag</key>
        <string>XOUC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>x stem lowercase</string>
        <key>tag</key>
        <string>XOLC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Y opaque uppercase</string>
        <key>tag</key>
        <string>YOUC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>y opaque lowercase</string>
        <key>tag</key>
        <string>YOLC</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>400</integer>
      <real>72.5</real>
      <integer>110</integer>
      <integer>100</integer>
      <integer>300</integer>
      <integer>110</integer>
      <integer>100</integer>
      <integer>100</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Axis Mappings 2</string>
        <key>value</key>
        <array>
          <dict>
            <key>input</key>
            <dict>
              <key>XOPQ</key>
              <real>5.0</real>
            </dict>
            <key>output</key>
            <dict>
              <key>XOLC</key>
              <real>5.0</real>
              <key>XOUC</key>
              <real>5.0</real>
            </dict>
          </dict>
          <dict>
            <key>input</key>
            <dict>
              <key>XOPQ</key>
              <real>300.0</real>
            </dict>
            <key>output</key>
            <dict>
              <key>XOLC</key>
              <real>300.0</real>
              <key>XOUC</key>
              <real>300.0</real>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>EditView Line Height</string>
        <key>value</key>
        <integer>1120</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>disablesAutomaticAlignment</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>useNiceNames</string>
        <key>value</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>Variable Font Origin</string>
        <key>value</key>
        <string>82B58153-C8D3-4714-AD9F-6B637ACB932F</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Virtual Master</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <integer>1</integer>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thick Stroke</string>
            <key>Location</key>
            <integer>5</integer>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thin Stroke</string>
            <key>Location</key>
            <integer>5</integer>
          </dict>
          <dict>
            <key>Axis</key>
            <string>x stem lowercase</string>
            <key>Location</key>
            <integer>5</integer>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Proportional spacing</string>
            <key>Location</key>
            <real>5.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>X stem uppercase</string>
            <key>Location</key>
            <real>5.0</real>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Virtual Master</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <real>1000.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thick Stroke</string>
            <key>Location</key>
            <real>300.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thin Stroke</string>
            <key>Location</key>
            <real>280.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>x stem lowercase</string>
            <key>Location</key>
            <real>300.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>y opaque lowercase</string>
            <key>Location</key>
            <real>280.0</real>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>iconName</string>
        <key>value</key>
        <string></string>
      </dict>
      <dict>
        <key>name</key>
        <string>widthValue</string>
        <key>value</key>
        <integer>100</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>customValue</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>weightValue</string>
        <key>value</key>
        <integer>400</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>customValue3</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>customValue2</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>customValue1</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>64364F21-C11D-47C7-B882-4FB3E3C811C3</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>XOUC300</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>IJ</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>G.ss01</string>
      <string>H.ss01</string>
      <string>K.ss01</string>
      <string>W.ss01</string>
      <string>X.ss01</string>
      <string>W.ss02</string>
      <string>W.ss03</string>
      <string>W.ss04</string>
      <string>Q_U</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
      <string>longs</string>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>a.ss01</string>
      <string>g.ss01</string>
      <string>q.ss01</string>
      <string>g.ss02</string>
      <string>fi</string>
      <string>fl</string>
      <string>ainferior</string>
      <string>einferior</string>
      <string>oinferior</string>
      <string>xinferior</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>mu</string>
      <string>hinferior</string>
      <string>kinferior</string>
      <string>linferior</string>
      <string>minferior</string>
      <string>ninferior</string>
      <string>pinferior</string>
      <string>sinferior</string>
      <string>tinferior</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>space</string>
      <string>nbspace</string>
      <string>.notdef</string>
      <string>lineseparator</string>
      <string>paragraphseparator</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>exclamationquestion</string>
      <string>exclamdouble</string>
      <string>numbersign</string>
      <string>doublequestion</string>
      <string>questionexclamation</string>
      <string>slash</string>
      <string>backslash</string>
      <string>twodotenleader</string>
      <string>periodcentered.loclCAT</string>
      <string>periodcentered.loclCAT.case</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleftinferior</string>
      <string>parenrightinferior</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenleftsuperior</string>
      <string>parenrightsuperior</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>reversedRotatedFloralHeartBullet</string>
      <string>floralHeart</string>
      <string>rotatedFloralHeartBullet</string>
      <string>apple</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>numero</string>
      <string>apple.ss01</string>
      <string>cent</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>dollar.ss01</string>
      <string>dblIntegral</string>
      <string>equalinferior</string>
      <string>equalsuperior</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>integral</string>
      <string>percent</string>
      <string>plusinferior</string>
      <string>plussuperior</string>
      <string>tripleIntegral</string>
      <string>rightArrow</string>
      <string>leftArrow</string>
      <string>rightArrow.ss01</string>
      <string>leftArrow.ss01</string>
      <string>rightArrow.ss02</string>
      <string>leftArrow.ss02</string>
      <string>rightArrow.ss03</string>
      <string>leftArrow.ss03</string>
      <string>rightArrow.ss04</string>
      <string>leftArrow.ss04</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb.alt</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>commaturnedabovecomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>strokeshortcomb</string>
      <string>dieresiscomb.case</string>
      <string>dotaccentcomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>hungarumlautcomb.case</string>
      <string>circumflexcomb.case</string>
      <string>caroncomb.case</string>
      <string>brevecomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>macroncomb.case</string>
      <string>circumflexcomb.i</string>
      <string>brevecomb.i</string>
      <string>tildecomb.i</string>
      <string>macroncomb.i</string>
      <string>circumflexcomb.case.i</string>
      <string>brevecomb.case.i</string>
      <string>tildecomb.case.i</string>
      <string>macroncomb.case.i</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Gcommaaccent</key>
      <string>uni0122</string>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Kcommaaccent</key>
      <string>uni0136</string>
      <key>Lcommaaccent</key>
      <string>uni013B</string>
      <key>Ncommaaccent</key>
      <string>uni0145</string>
      <key>Rcommaaccent</key>
      <string>uni0156</string>
      <key>Scommaaccent</key>
      <string>uni0218</string>
      <key>Tcedilla</key>
      <string>uni0162</string>
      <key>Tcommaaccent</key>
      <string>uni021A</string>
      <key>ainferior</key>
      <string>uni2090</string>
      <key>apple</key>
      <string>uniF8FF</string>
      <key>apple.ss01</key>
      <string>uniF8FF.ss01</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>brevecomb.case</key>
      <string>uni0306.case</string>
      <key>brevecomb.case.i</key>
      <string>uni0306.case.i</string>
      <key>brevecomb.i</key>
      <string>uni0306.i</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>caroncomb.alt</key>
      <string>uni030C.alt</string>
      <key>caroncomb.case</key>
      <string>uni030C.case</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>circumflexcomb.case.i</key>
      <string>uni0302.case.i</string>
      <key>circumflexcomb.i</key>
      <string>uni0302.i</string>
      <key>commaaccentcomb</key>
      <string>uni0326</string>
      <key>commaturnedabovecomb</key>
      <string>uni0312</string>
      <key>dblIntegral</key>
      <string>uni222C</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>dotaccentcomb.case</key>
      <string>uni0307.case</string>
      <key>doublequestion</key>
      <string>uni2047</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>einferior</key>
      <string>uni2091</string>
      <key>equalinferior</key>
      <string>uni208C</string>
      <key>equalsuperior</key>
      <string>uni207C</string>
      <key>euro</key>
      <string>Euro</string>
      <key>exclamationquestion</key>
      <string>uni2049</string>
      <key>exclamdouble</key>
      <string>exclamdbl</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>floralHeart</key>
      <string>uni2766</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>gcommaaccent</key>
      <string>uni0123</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hinferior</key>
      <string>uni2095</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>hungarumlautcomb.case</key>
      <string>uni030B.case</string>
      <key>idotaccent</key>
      <string>i.loclTRK</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>kcommaaccent</key>
      <string>uni0137</string>
      <key>kinferior</key>
      <string>uni2096</string>
      <key>lcommaaccent</key>
      <string>uni013C</string>
      <key>leftArrow</key>
      <string>arrowleft</string>
      <key>leftArrow.ss01</key>
      <string>arrowleft.ss01</string>
      <key>leftArrow.ss02</key>
      <string>arrowleft.ss02</string>
      <key>leftArrow.ss03</key>
      <string>arrowleft.ss03</string>
      <key>leftArrow.ss04</key>
      <string>arrowleft.ss04</string>
      <key>lineseparator</key>
      <string>uni2028</string>
      <key>linferior</key>
      <string>uni2097</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>macroncomb.case</key>
      <string>uni0304.case</string>
      <key>macroncomb.case.i</key>
      <string>uni0304.case.i</string>
      <key>macroncomb.i</key>
      <string>uni0304.i</string>
      <key>minferior</key>
      <string>uni2098</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>ncommaaccent</key>
      <string>uni0146</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>ninferior</key>
      <string>uni2099</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>oinferior</key>
      <string>uni2092</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>paragraphseparator</key>
      <string>uni2029</string>
      <key>parenleftinferior</key>
      <string>uni208D</string>
      <key>parenleftsuperior</key>
      <string>uni207D</string>
      <key>parenrightinferior</key>
      <string>uni208E</string>
      <key>parenrightsuperior</key>
      <string>uni207E</string>
      <key>pinferior</key>
      <string>uni209A</string>
      <key>plusinferior</key>
      <string>uni208A</string>
      <key>plussuperior</key>
      <string>uni207A</string>
      <key>questionexclamation</key>
      <string>uni2048</string>
      <key>rcommaaccent</key>
      <string>uni0157</string>
      <key>reversedRotatedFloralHeartBullet</key>
      <string>uni2619</string>
      <key>rightArrow</key>
      <string>arrowright</string>
      <key>rightArrow.ss01</key>
      <string>arrowright.ss01</string>
      <key>rightArrow.ss02</key>
      <string>arrowright.ss02</string>
      <key>rightArrow.ss03</key>
      <string>arrowright.ss03</string>
      <key>rightArrow.ss04</key>
      <string>arrowright.ss04</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>rotatedFloralHeartBullet</key>
      <string>uni2767</string>
      <key>scommaaccent</key>
      <string>uni0219</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sinferior</key>
      <string>uni209B</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>strokeshortcomb</key>
      <string>uni0335</string>
      <key>tcedilla</key>
      <string>uni0163</string>
      <key>tcommaaccent</key>
      <string>uni021B</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>tinferior</key>
      <string>uni209C</string>
      <key>tripleIntegral</key>
      <string>uni222D</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>xinferior</key>
      <string>uni2093</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
    </dict>
  </dict>
</plist>
