<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>bg</string>
      <string>glyphs.bg</string>
    </array>
    <array>
      <string>bg#1</string>
      <string>glyphs.bg#1</string>
    </array>
    <array>
      <string>bg#2</string>
      <string>glyphs.bg#2</string>
    </array>
    <array>
      <string>bg#3</string>
      <string>glyphs.bg#3</string>
    </array>
    <array>
      <string>bg#4</string>
      <string>glyphs.bg#4</string>
    </array>
    <array>
      <string>bg#5</string>
      <string>glyphs.bg#5</string>
    </array>
    <array>
      <string>bg#6</string>
      <string>glyphs.bg#6</string>
    </array>
    <array>
      <string>bg#7</string>
      <string>glyphs.bg#7</string>
    </array>
    <array>
      <string>bg#8</string>
      <string>glyphs.bg#8</string>
    </array>
    <array>
      <string>bg#9</string>
      <string>glyphs.bg#9</string>
    </array>
    <array>
      <string>bg#10</string>
      <string>glyphs.bg#10</string>
    </array>
    <array>
      <string>bg#11</string>
      <string>glyphs.bg#11</string>
    </array>
    <array>
      <string>bg#12</string>
      <string>glyphs.bg#12</string>
    </array>
    <array>
      <string>bg#13</string>
      <string>glyphs.bg#13</string>
    </array>
    <array>
      <string>bg#14</string>
      <string>glyphs.bg#14</string>
    </array>
    <array>
      <string>bg#15</string>
      <string>glyphs.bg#15</string>
    </array>
    <array>
      <string>bg#16</string>
      <string>glyphs.bg#16</string>
    </array>
    <array>
      <string>bg#17</string>
      <string>glyphs.bg#17</string>
    </array>
    <array>
      <string>bg#18</string>
      <string>glyphs.bg#18</string>
    </array>
    <array>
      <string>bg#19</string>
      <string>glyphs.bg#19</string>
    </array>
    <array>
      <string>bg#20</string>
      <string>glyphs.bg#20</string>
    </array>
    <array>
      <string>bg#21</string>
      <string>glyphs.bg#21</string>
    </array>
    <array>
      <string>bg#22</string>
      <string>glyphs.bg#22</string>
    </array>
    <array>
      <string>bg#23</string>
      <string>glyphs.bg#23</string>
    </array>
    <array>
      <string>bg#24</string>
      <string>glyphs.bg#24</string>
    </array>
    <array>
      <string>bg#25</string>
      <string>glyphs.bg#25</string>
    </array>
    <array>
      <string>bg#26</string>
      <string>glyphs.bg#26</string>
    </array>
    <array>
      <string>bg#27</string>
      <string>glyphs.bg#27</string>
    </array>
    <array>
      <string>bg#28</string>
      <string>glyphs.bg#28</string>
    </array>
    <array>
      <string>bg#29</string>
      <string>glyphs.bg#29</string>
    </array>
    <array>
      <string>bg#30</string>
      <string>glyphs.bg#30</string>
    </array>
    <array>
      <string>bg#31</string>
      <string>glyphs.bg#31</string>
    </array>
    <array>
      <string>bg#32</string>
      <string>glyphs.bg#32</string>
    </array>
    <array>
      <string>bg#33</string>
      <string>glyphs.bg#33</string>
    </array>
    <array>
      <string>bg#34</string>
      <string>glyphs.bg#34</string>
    </array>
    <array>
      <string>bg#35</string>
      <string>glyphs.bg#35</string>
    </array>
    <array>
      <string>bg#36</string>
      <string>glyphs.bg#36</string>
    </array>
    <array>
      <string>bg#37</string>
      <string>glyphs.bg#37</string>
    </array>
    <array>
      <string>bg#38</string>
      <string>glyphs.bg#38</string>
    </array>
    <array>
      <string>bg#39</string>
      <string>glyphs.bg#39</string>
    </array>
    <array>
      <string>bg#40</string>
      <string>glyphs.bg#40</string>
    </array>
    <array>
      <string>bg#41</string>
      <string>glyphs.bg#41</string>
    </array>
    <array>
      <string>bg#42</string>
      <string>glyphs.bg#42</string>
    </array>
    <array>
      <string>bg#43</string>
      <string>glyphs.bg#43</string>
    </array>
  </array>
</plist>
