<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>4004</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Proportional spacing</string>
        <key>tag</key>
        <string>XTSP</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Thick Stroke</string>
        <key>tag</key>
        <string>XOPQ</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Thin Stroke</string>
        <key>tag</key>
        <string>YOPQ</string>
      </dict>
      <dict>
        <key>name</key>
        <string>X stem uppercase</string>
        <key>tag</key>
        <string>XOUC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>x stem lowercase</string>
        <key>tag</key>
        <string>XOLC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Y opaque uppercase</string>
        <key>tag</key>
        <string>YOUC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>y opaque lowercase</string>
        <key>tag</key>
        <string>YOLC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>STUI</string>
        <key>tag</key>
        <string>STUI</string>
      </dict>
      <dict>
        <key>name</key>
        <string>STUO</string>
        <key>tag</key>
        <string>STUO</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Counter Width</string>
        <key>tag</key>
        <string>XTRA</string>
      </dict>
      <dict>
        <key>name</key>
        <string>x transparent uppercase</string>
        <key>tag</key>
        <string>XTUC</string>
      </dict>
      <dict>
        <key>name</key>
        <string>x transparent lowercase</string>
        <key>tag</key>
        <string>XTLC</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>400</integer>
      <real>72.5</real>
      <integer>110</integer>
      <integer>100</integer>
      <integer>110</integer>
      <integer>300</integer>
      <integer>100</integer>
      <integer>100</integer>
      <integer>92</integer>
      <integer>92</integer>
      <integer>357</integer>
      <integer>357</integer>
      <integer>357</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Axis Mappings 2</string>
        <key>value</key>
        <array>
          <dict>
            <key>input</key>
            <dict>
              <key>XOPQ</key>
              <real>5.0</real>
            </dict>
            <key>output</key>
            <dict>
              <key>XOLC</key>
              <real>5.0</real>
              <key>XOUC</key>
              <real>5.0</real>
            </dict>
          </dict>
          <dict>
            <key>input</key>
            <dict>
              <key>XOPQ</key>
              <real>300.0</real>
            </dict>
            <key>output</key>
            <dict>
              <key>XOLC</key>
              <real>300.0</real>
              <key>XOUC</key>
              <real>300.0</real>
            </dict>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Variable Font Origin</string>
        <key>value</key>
        <string>29B8C930-F693-4A37-B96B-207FFEBD7B57</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Virtual Master</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <real>1.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thick Stroke</string>
            <key>Location</key>
            <real>5.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thin Stroke</string>
            <key>Location</key>
            <real>5.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>STUI</string>
            <key>Location</key>
            <real>2.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>STUO</string>
            <key>Location</key>
            <real>2.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Counter Width</string>
            <key>Location</key>
            <real>10.0</real>
          </dict>
        </array>
      </dict>
      <dict>
        <key>name</key>
        <string>Virtual Master</string>
        <key>value</key>
        <array>
          <dict>
            <key>Axis</key>
            <string>Weight</string>
            <key>Location</key>
            <real>1000.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thick Stroke</string>
            <key>Location</key>
            <real>300.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Thin Stroke</string>
            <key>Location</key>
            <real>280.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>STUI</string>
            <key>Location</key>
            <real>700.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>STUO</string>
            <key>Location</key>
            <real>700.0</real>
          </dict>
          <dict>
            <key>Axis</key>
            <string>Counter Width</string>
            <key>Location</key>
            <real>617.0</real>
          </dict>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>B9C0A635-E135-4E79-9ACE-EB1DA6CBE179</key>
        <dict/>
      </dict>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>B9C0A635-E135-4E79-9ACE-EB1DA6CBE179</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>4</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>XOLC300</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>space</string>
      <string>.notdef</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>at</string>
      <string>ampersand</string>
      <string>bar</string>
      <string>dollar</string>
      <string>plus</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>grave</string>
    </array>
  </dict>
</plist>
